body {
    text-align: center;
}

button {
    margin-top: 50px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005F6B;
}
